[Unit]
Description=Telegram bot
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/technomag/PythonProjects/tele_bot.py
[Install]
WantedBy=multi-user.target